{#
  USE IN FORM TEMPLATE:

  This macro is intended for use in a custom form. Use it to generate a form input for a
  specific field identified by the 'input_name'.
#}
{% macro formField(entry, input_name) %}
  {% if entry.formFields %}
    {% for matrixBlock in entry.formFields %}
      {% if matrixBlock.inputName == input_name %}
        {% set include_type = 'partials/blocks/form-fields/' ~ matrixBlock.type %}
        {% include include_type %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{# ====================================================================================== #}

{#
  USE IN FORM TEMPLATE:

  This macro is used specifically to getnerat the form inputs for the DEFAULT form template.
  It automatically adds the 'row' and 'col-xs-12' divs to lay out the inputs on the page.
#}
{% macro defaultFormField(entry, input_name) %}
<div class="row">
  <div class="col-xs-12">
  {% if entry.formFields %}
    {% for matrixBlock in entry.formFields %}
      {% if matrixBlock.inputName == input_name %}
        {% set include_type = 'partials/blocks/form-fields/' ~ matrixBlock.type %}
        {% include include_type %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endmacro %}

{# ====================================================================================== #}

{#
  USE IN EMAIL TEMPLATE:

  This macro outputs the label that has been setup in the Form Fields matrix.
#}
{% macro formFieldLabel(field) %}
  {{ field.label }}
{% endmacro %}

{# ====================================================================================== #}

{#
  USE IN EMAIL TEMPLATE:

  This macro outputs the value collected by the form.
#}
{% macro formFieldValue(field) %}
  {% if field.value is not defined %}
    -- n/a --
  {% else %}
    {% if field.value[0] is not defined and field.value is not empty %}
      {{ field.value }}
    {% else %}
      {% for option in field.value %}
        {{ option }}{% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}

{# ====================================================================================== #}
